.wall-container{
    min-width: 400px;
    min-height: 100vh;
    border: 10px #ff0000 solid;
    background-color:#ffff00;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.btn{
    position: fixed;
    padding: 10px;
    bottom: 10px;
    right: 10px;
    background-color: blueviolet;
    color: #ffffff;
    border: none;
}